# Bangkok Emergency Services Dashboard - Requirements
# =====================================================

# Core Dependencies
streamlit
pyspark
pandas
numpy
argparse
asyncio
aiohttp
tqdm
google-genai

# Geocoding
requests

# Map Visualization
folium
streamlit-folium
geopandas
shapely

# Optional: Better performance
pyarrow
fastparquet

#install openjdk-17-jdk: https://adoptium.net/en-GB/temurin/releases?version=17&os=any&arch=any
